
useDynLib(spTimer)
exportPattern("^[^\\.]")
#export(spAR.Gibbs)
#export(spAR.prediction)
#export(spAR.forecast)
#exportClasses(spAR.Gibbs,spAR.prediction,spAR.forecast)

#export(spT.Gibbs)
#export(spT.prediction)
#export(spT.forecast)
#export(spT.priors)
#export(spT.initials)
#export(spT.geodist)
#export(spT.decay)


S3method(print,spT)
S3method(print,spTpred)
S3method(print,spTfore)

S3method(predict,spT)

S3method(summary,spT)
S3method(plot,spT)
S3method(coef,spT)
S3method(model.frame,spT)
S3method(model.matrix,spT)
S3method(residuals,spT)
S3method(terms,spT)


#import(coda)